@import url("https://fonts.googleapis.com/css2?family=Rubik");

* {
  box-sizing: border-box;
}

body {
  background-color: #E8EDF3;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
img {
  padding: 0px;
  width: 250px;
}

#app-name {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
ul {
  columns: 3;
}
li {
  width: 10px ;
  display: inline-block;
}
canvas {
  //border: 2px solid rgb(0, 0, 0);
  background: #ffffff;

}

.colorbox {
  background-color: rgb(93, 90, 129);
  border-radius: 50px;
  display: flex;
  padding: 0.5rem;
  position: relative; 
  width: 100%; 
  max-width: 450px;
  bottom: 10px;
}

.colorbox > * {
  border: none;
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: 40px;
  width: 40px;
  margin: 0.5rem;
  padding: 0.25rem;
  cursor: hand;
}
.color-input-wrapper {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.color-input-wrapper  input[type=color] {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
  }

  #decrease {
    background-color: #FFAAA6;
  }
  
  #size {
    background-color: #FFD3B5;
  }
  
  #increase {
    background-color: #FFEFC0;
  }
  
  #clear {
    background-color: #AEDCAE;
  }
  
  #save {
    background-color: #C3EEFA;
  }
  
  #load {
    background-color: #B19CD7;
  }
  #download {
    background-color: #E4A0B7;
  }